black
flake8
ipython
ipykernel
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
# important to pin due to Surface customdata bug and workaround: https://github.com/plotly/plotly.js/issues/5003
plotly==6.0.0
plotnine
pytest
python-dotenv
scikit-learn
tqdm
typer
-e .
